{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content_title %}
  {% trans "Lista de reportes creados." %}
  {{ block.super }}
{% endblock %}

{% block object-tools-items %}
  {% if 'starred' in request.GET %}
    <li><a href="./">{% trans "Ver todos los reportes" %}</a></li>
  {% else %}
    <li><a href="./?starred=Starred">{% trans "Ver reportes destacados" %}</a></li>
  {% endif %}
  {{ block.super }}
{% endblock %}
