{% extends "base.html" %}
{% load static from staticfiles %}

{% block angular_app %}
    {% block report_header %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div style="height: 62px">
    {% block nav %}
        {{ block.super }}
    {% endblock %}
    </div>
    <div style="height: calc(100% - 106px); margin-top: -20px;">
    {% block content %}
    {% endblock %}
    </div>
{% endblock %}
